<section><h2 class='spotlight'>Media Spotlight: <%= link_to "First work", works_path, class: "spotlight_lt" %> by Some Creator </h2></section>
<p>27 Votes - Description</p>

<div class='top_ten'>
<section>
  <h2>Top Movies</h2>
  <ul>
  <% @top_ten_movies.each do |movie| %>
    <li><%= movie.title%> <%= movie.creator %> <%= movie.votes.length %>Votes </li>
  <% end %>
  </ul>
</section>

<section>
  <h2>Top Books</h2>
  <ul>
  <% @top_ten_books.each do |book| %>
    <li><%= book.title%> <%= book.creator %> <%= book.votes.length %>Bookes </li>
  <% end %>
  </ul>
</section>

<section>
  <h2>Top Albums</h2>
  <ul>
  <% @top_ten_albums.each do |album| %>
    <li><%= album.title%> <%= album.creator %> <%= album.votes.length %>Votes </li>
  <% end %>
  </ul>
</section>

</div>