<main>

  <section id="media-spotlight-container">
    <h2>
      <span id="spotlight-header">Media Spotlight:</span>
      <span id="spotlight-feature"> 
        <% top_work = Work.top_work %>
        <%= link_to top_work.title, work_path(top_work) %> by <%= top_work.creator %>
      </span>
    </h2>
    <p><%= top_work.description %> - <%= top_work.votes.count %> votes</p>
  </section>

  <section id ="top-media-container">
    
    <% Work.categories.each do |category|%>
    <section class="top-media-sect">
      <h2> Top <%= category.capitalize %>s </h1>
      <ul>
        <% Work.top_by_category(num:10, category:category).each do |work| %>
          <li>
            <h4>
              <%= link_to work.title, work_path(work.id) %>
              <small>by <%= work.creator %></small>
            </h4>
            <p><%= work.vote_count %> points - <%= work.votes.count %> votes</p>
            <button type="button" class="btn btn-success">
              <%= link_to "Upvote", work_upvote_path(work.id), method: :post, class: "vote-link" %> <span class="badge badge-light"> <%= work.upvote_count %> </span>
            </button>
            <button type="button" class="btn btn-danger">
              <%= link_to "Downvote", work_downvote_path(work.id), method: :post, class: "vote-link" %> <span class="badge badge-light"> <%= work.downvote_count %> </span>
            </button>
          </li>
        <% end %>
      </ul> 
    </section>
    <% end %>
  
  <section>
</main>