<div>
<h1>Media Ranker <span>| Ranking the best of everything</span></h1>

<%= link_to "View Top Media", homepages_path %>
<%= link_to "View All Media", works_path %>
<%= link_to "Add a New Medium", new_work_path %>
<%= link_to "View All Users", users_path %>
<%# <%= link_to "Login/logout"%>
<div>