<main id="spotlight">
  <% random = @works.sample %>
  <h2>Spotlight: <%= random.title %></h2>
  <p>Description: <%= random.description %></p>
</main>
<section class="top-ten">
  <section class="top-category">
    <h2>Top albums</h2>
    <ul>
      <% albums = @albums.sample(10) %>
      <% albums.each do |album|%>
        <li><%= album.title %></li>
      <% end %>
    </ul>
  </section>
  <section class="top-category">
    <h2>Top books</h2>
    <ul>
      <% books = @books.sample(10) %>
      <% books.each do |book|%>
        <li><%= book.title %></li>
      <% end %>
    </ul>
  </section>
  <section class="top-category">
    <h2>Top movies</h2>
    <ul>
      <% movies = @movies.sample(10) %>
      <% movies.each do |movie|%>
        <li><%= movie.title %></li>
      <% end %>
    </ul>
  </section>
</section>
