<main>
  <section class="spotlight">
    <h2 section class="spotlight__header--prefix">
      <span class="spotlight__header--prefix">Media Spotlight: </span>
      <%= link_to @works.top_voted.title, work_path(@works.top_voted.id) %> by <%= @works.top_voted.creator %>
    </h2>
    <%= @works.top_voted.votes_count %> votes - <% @works.top_voted.description %>
  </section>

<hr class="root__hr" />
<section class="top-ten__container">
  <% @categories.each do |category| %>
  <section class="top-ten__list-container">
    <h2 class="top-ten__header">Top <%= category.capitalize %></h2>
    <% @works.top_ten(category).each do |work| %>
      <ul class="list-group top-ten__list">
        <li><h3><%= link_to work.title, work_path(work.id) %></h3> by <%= work.creator %><br>
        <%= work.votes.count %> votes</li>
      </ul>
    <% end %>
    </section>
  <% end %>
  
  </section>
</main>
