<h2>Media Spotlight:<%= @spotlight.title %> <%= @spotlight.votes.length %></h2>


<% @albums_top_ten.each do |album| %>
<li>  <%= album.title%>  <%= album.votes.length%></li>
  <%end%>


<% @books_top_ten.each do |book| %>
<li>  <%= book.title%>  <%= book.votes.length%></li>
  <%end%>
#top 10 albums by descending number of votes

