This is the Homepage

<%= link_to "All Media", works_path%>

<h2>Media Spotlight:</h2>

<% spotlight = Work.find_spotlight %>
<%= link_to spotlight.title, work_path(spotlight) %>, <%= spotlight.category %>

<% if session[:user_id].nil? %>
  <li>
    <%= link_to "Login", login_path %>
  </li>
<%else%>
  <li>
    <%= link_to "Logout", logout_path, method: :post %>
  </li>
  <li>
    Logged in as <%= User.find_by(id: session[:user_id]).username %>
  </li>
<%end%>

<h2>Top 10 Books</h2>
<ul>
<% Work.top_ten(:book).each do |work|  %>
  <li><%= link_to work.title, work_path(work) %>, <%= work.category %></li>
<% end %>
</ul>

<h2>Top 10 Albums</h2>
<ul>
<% Work.top_ten(:album).each do |work|  %>
  <li><%= link_to work.title, work_path(work) %>, <%= work.category %></li>
<% end %>
</ul>

<h2>All votes</h2>
<% Vote.all.each do |vote|  %>
  <li><%= vote.work.title %>, <%= vote.user.username %></li>
<% end %>
