
<section class="spotlight">
  <% spotlight = Work.spotlight%>
  <h2>Media Spotlight: <%= link_to spotlight.title, work_path(spotlight) %> by <%= spotlight.creator %></h2>
  <h3> <%= spotlight.votes.count %> Votes - <%= spotlight.description %> </h3>

</section>

<section class="albums">
  <h2> Top Albums </h2>
  <ol>
    <% albums = Work.top_ten("album") %>
    <% if albums == [] %>
      <p> There are no works in this category </p>
    <% else %>
      <% albums.each do |album| %>
        <li>
          <%= link_to album.title, work_path(album) %>
          Created by: <%= album.creator%>
          <%= album.votes.count %> Votes
        </li>  
      <% end %>
    <% end %>
  </ol>
</section>

<section class="books">
  <h2> Top Books </h2>
  <ol>
    <% books = Work.top_ten("book") %>
    <% if books == [] %>
      <p> There are no works in this category </p>
    <% else %>
      <% books.each do |book| %>
        <li>
          <%= link_to book.title, work_path(book) %>
          Created by: <%= book.creator%>
          <%= book.votes.count %> Votes
        </li>  
      <% end %>
    <% end %>
  </ol>
</section>

<section class="movies">
  <h2> Top Movies </h2>
  <ol>
    <% movies = Work.top_ten("movie") %>
    <% if movies == [] %>
      <p> There are no works in this category </p>
    <% else %>
      <% movies.each do |movie| %>
        <li>
          <%= link_to movie.title, work_path(movie) %>
          Created by: <%= movie.creator%>
          <%= movie.votes.count %> Votes
        </li>  
      <% end %>
    <% end %>
  </ol>
</section>