<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<main>
<section class="media_spotlight">
<h2>Media Spotlight</h2>
<span>Title: <%= @works[3].title%> <br>Creator: <%= @works[3].creator%>
</span>
</section>

<section>
<h2>Top Movies</h2>
<div>
<% @works.each do |work| %>
    <% if work.category == "movie"%>
    <p><%= link_to work.title, work_path(work.id)%> by <%= work.creator%></p>
    <br>
    <% end %>
  <% end %>
</div>
</section>

<section>
<h2>Top Books</h2>
<div>
  <% @works.each do |work| %>
    <% if work.category == "book"%>
    <p><%= link_to work.title, work_path(work.id)%> by <%= work.creator%></p>
    
    <br>
    <% end %>
  <% end %>
</div>
</section>

<section>
<h2>Top Albums</h2>
<div>
  <% @works.each do |work| %>
    <% if work.category == "book"%>
    <p><%= link_to work.title, work_path(work.id)%> by <%= work.creator%></p>
    <br>
    <% end %>
  <% end %>
</div>
</section>

</main>
</body>