<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<main>
<section class="spotlight">
<h2 class="spotlight__header">Media Spotlight</h2>
<% unless Work.spotlight.nil?%>
<span>Title: <% feature = Work.spotlight%>
 <%=link_to feature.title, work_path(feature.id), class: "spotlight__link-to" %> <br>Creator: <%= feature.creator%>
 <p class="spotlight__description"><%= feature.votes.count %> votes</p>
</span>
<% end %>
</section>
<hr class="root__hr">
<div class="row">
<section class="col-4">
<h2 class="category">Top Movies</h2>
<div>
<% movies = @works.top_category("movie") %>
    <% movies.each do |work|%>
    <h4><%= link_to work.title, work_path(work.id)%></h4> 
    <p>by <%= work.creator%></p>
    <p><%= work.votes.count %> votes</p>
    <br>
    <% end %>
</div>
</section>


<section class="col-4">
<h2 class="category">Top Books</h2>
<div>
  <% books = @works.top_category("book") %>
    <% books.each do |work| %>
    <h4><%= link_to work.title, work_path(work.id)%></h4> 
    <p>by <%= work.creator%></p>
    <p><%= work.votes.count %> votes</p>
    <br>
    <% end %>
</div>
</section>

<section class="col-4">
<h2 class="category">Top Albums</h2>
<div>
  <% albums = @works.top_category("album")%>
  <% albums.each do |work| %>
    <h4><%= link_to work.title, work_path(work.id)%></h4> 
    <p>by <%= work.creator%></p>
    <p> <%= work.votes.count %> votes</p>
    <br>
  <% end %>
</div>
</section>
</div>

</main>
</body>