


<p>
<%spotlight_array = Work.find_spotlight(@works)%>
<%="Media Spotlight"%>:<%=spotlight_array[:title]%> by
<%=spotlight_array[:creator]%><br>
<%=spotlight_array.votes.count%> votes<br>
<%=spotlight_array[:description]%>
<%#work.title%> <%#work.creator%>
</p>

<%="Top Albums"%>
  
<p>
<%work_array = Work.find_top_10("album")%>

<%work_array.each do |work|%>
  <%=work[:title]%> by <%=work[:creator]%> ... Vote count: <%=work.votes.count%><br>
<%end%>
</p>

<%="Top Books"%>

<p>
<%work_array = Work.find_top_10("book")%>

<%work_array.each do |work|%>
  <%=work[:title]%> by <%=work[:creator]%> ... Vote count: <%=work.votes.count%><br>
<%end%>
</p>

<%="Top Movies"%>

<p>
<%work_array = Work.find_top_10("movie")%>

<%work_array.each do |work|%>
  <%=work[:title]%> by <%=work[:creator]%> ... Vote count: <%=work.votes.count%><br>
<%end%>
</p>






