
<%="Media Spotlight"%>
<p><%work = @works.sample%>
  <%=work.title%> by <%=work.creator%></p>

<%="Top Albums"%>

<p>
<%10.times do %>

  <%album = @albums.sample%>
  <%=album.title%> by <%=album.creator%><br>
<%end%>
</p>


<%="Top Books"%>

<p>
<%10.times do %>
  <%book = @books.sample%>
  <%=book.title%> by <%=book.creator%><br>
<%end%>
</p>

<%="Top Movies"%>

<p>
<%10.times do %>
  <%movie = @movies.sample%>
  <%=movie.title%> by <%=movie.creator%><br>
<%end%>
</p>
<%# is this 10.times some thing should go in the model?%>





