<main class="spotlight">
  <% random = @works.sample %>
  <h2 class="spotlight__header">
    <span class="spotlight__header--prefix">Media Spotlight: </span><span class="spotlight__link-to"><%= link_to Work.spotlight.title, work_path(Work.spotlight.id)%></span>
    <small>by <%= Work.spotlight.creator %></small>
  </h2>
  <p><%= Work.spotlight.votes.length %> votes - Synopsis: <%= Work.spotlight.description %></p>
  <hr class="root__hr">
</main>


<section class="top-ten">

  <section class="top-ten__list-container">
    <h2 class="top-ten__header">Top albums</h2>
    <ul class="list-group top-ten__list">
      <% albums = Work.top_ten("album") %>
      <% albums.each do |album|%>
        <li class="list-group-item">
          <h4>
            <span class="link-to"><%= link_to album.title, work_path(album.id), method: :get %></span>
            <small class="top-ten__creator">by <%= album.creator %></small>
          </h4>
          <p><%= album.votes.length%> votes</p>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="top-ten__list-container">
    <h2 class="top-ten__header">Top books</h2>
    <ul class="list-group top-ten__list">
      <% books = Work.top_ten("book") %>
      <% books.each do |book|%>
        <li class="list-group-item">
          <h4>
            <span class="link-to"><%= link_to book.title, work_path(book.id), method: :get %></span>
            <small class="top-ten__creator">by <%= book.creator %></small>
          </h4>
          <p><%= book.votes.length%> votes</p>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="top-ten__list-container">
    <h2 class="top-ten__header">Top movies</h2>
    <ul class="list-group top-ten__list">
      <% movies = Work.top_ten("movie") %>
      <% movies.each do |movie|%>
        <li class="list-group-item">
          <h4>
            <span class="link-to"><%= link_to movie.title, work_path(movie.id), method: :get %></span>
            <small class="top-ten__creator">by <%= movie.creator %></small>
          </h4>
          <p><%= movie.votes.length%> votes</p>
        </li>
      <% end %>
    </ul>
  </section>

</section>
