<div class="spotlight">
  <h2><strong>Media Spotlight:
    <span>
    <%= link_to @top_1.title, work_path(@top_1.id) %>
    by 
    <%= @top_1.creator %></span></strong>
    <p><small><%= @top_1.votes.count %> votes - <%= @top_1.description %></small></p>
  </h2>
</div>

<hr>

<div class="top-ten-container">
  <section>
    <h2>Top Movies</h2>
    <ul>
    <% @top_10_movies.each do |work| %>
      <li> <%= link_to work.title, work_path(work.id) %>
      by <%= work.creator %>
      <p><small><%= work.votes.count %> votes</small></p>
      </li>
    <% end %>
    </ul>
  </section>

  <section>
    <h2>Top Books</h2>
    <ul>
    <% @top_10_books.each do |work| %>
      <li> <%= link_to work.title, work_path(work.id) %>
      by <%= work.creator %>
      <p><small><%= work.votes.count %> votes</small></p>
      </li>
    <% end %>
    </ul>
  </section>

  <section>
    <h2>Top Albums</h2>
    <ul>
    <% @top_10_albums.each do |work| %>
      <li> <%= link_to work.title, work_path(work.id) %>
      by <%= work.creator %>
      <p><small><%= work.votes.count %> votes</small></p>
      </li>
    <% end %>
    </ul>
  </section>


</div>