<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <%=link_to @spotlight_work.title.capitalize, work_path(@spotlight_work.id),class: "spotlight__link-to"%> by <%=@spotlight_work.creator%>
    </h2>
    <p class="spotlight__description"><%=@spotlight_work.votes.length%> votes - <%=@spotlight_work.description%></p>
  </section>

  <hr class="root__hr">

  <section class="top-ten__container">
    <%= render partial: "index", locals: { works: @top_movies, title: "Movies"} %>
    <%= render partial: "index", locals: { works: @top_books, title: "Books"} %>
    <%= render partial: "index", locals: { works: @top_albums, title: "Albums"} %>
  </section>
</main>

