This is the Homepage

<%= link_to "All Media", works_path%>

<h2>Media Spotlight:</h2>

<% spotlight = Work.find_spotlight %>
<%= link_to spotlight.title, work_path(spotlight) %>, <%= spotlight.category %>


<h2>Top 10 Books</h2>
<ul>
<% Work.top_ten(:book).each do |work|  %>
  <li><%= link_to work.title, work_path(work) %>, <%= work.category %></li>
<% end %>
</ul>

<h2>Top 10 Albums</h2>
<ul>
<% Work.top_ten(:album).each do |work|  %>
  <li><%= link_to work.title, work_path(work) %>, <%= work.category %></li>
<% end %>
</ul>