<nav>
<a id="logo" href="/">Media Ranker <span id="website-header">| Ranking the Best of Everything</span></a>
<a href="/root">View top media</a>
<a href="/works">View all media</a>
<a href="/edit/works">Add a new work</a>
<a href="/users">View all users</a>
<%# these are 2 buttons people click to log in and log out %>
</nav>

<main>
  <section id="media-spotlight-section">
    <h2 id="media-spotlight-header">Media Spotlight: <a href="work/work_id"><%=Work.first.title%></a> by <%=Work.first.creator%>
  </section>

  <section id="mainpage-media-list">
    <h1>Works List</h1>
    <ul>
      <h2>Movies</h2>
      <% movies = Work.where(category: :movie)%>
      <% movies.each do |work| %>
        <li>
          <%= link_to work.title, work_path(id: work.id) %> by <%= work.creator %>
        </li>
      <% end %>
      <h2>Books</h2>
      <% books = Work.where(category: :book).sample(10)%>
      <% books.each do |work| %>
        <li>
          <%= link_to work.title, work_path(id: work.id) %> by <%= work.creator %>
        </li>
      <% end %>
      <h2>Albums</h2>
      <% albums = Work.where(category: :album).sample(10)%>
      <% albums.each do |work| %>
        <li>
          <%= link_to work.title, work_path(id: work.id) %> by <%= work.creator %>
        </li>
      <% end %>
    </ul>
  </section>
</main>