<section>
  <%= form_with model: @work do |f| %>
    <div class="form-group">
      <%= f.select :category, ['album', 'movie', 'book']%>
      <%# <select class="form-control" name=:category>
        <option value="album">Album</option>
        <option value="book">Book</option>
        <option value="movie">Movie</option>
      </select> %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    
    <div class="form-group">
      <%= f.label :creator %>
      <%= f.text_field :creator %>
    </div>
    
    <div class="form-group">
      <%= f.label :published_year %>
      <%= f.text_field :published_year %>
    </div>
    
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description %>

    <div class="form-group">
      <%= f.submit %>
    </div>

  <% end %>
</section>