<%# <% if @work.errors.any? %>
  <%# <h1>Errors</h1> %>
  <%# <ul class="alert alert-danger"> %>
    <%# <% @work.errors.each do |column, message| %> 
      <%# <li> %>
        <%#<strong><%= column.capitalize %><%#</strong> <%= message %>
      <%# </li> %>
    <%# <% end %>
  <%# </ul> %>
<%# <% end %>
<section>
<%= form_with model: @work, class: "#{action_name}-work" do |f| %>
  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category , ["album", "book", "movie"], {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <%= f.label :creator %> 
  <%= f.text_field :creator %> 

  <%= f.label :publication_year %> 
  <%= f.text_field :publication_year %> 

  <%= f.label :description %> 
  <%= f.text_area :description %> 

  <%= f.submit "#{action_name.capitalize} Work", class: "works-button" %>
<% end %>
</section>
