<section>
  <%= form_with model: @work do |f| %>
    <div class="form-group">
      <%= f.label :category %>
      <select class="form-control" value=<%=@work.category%> name="work[category]">
        <option value="album">Album</option>
        <option value="book">Book</option>
        <option value="movie">Movie</option>
      </select>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <input type="text" value="<%=@work.title%>" name="work[title]" class="form-control">
    </div>
    
    <div class="form-group">
      <%= f.label :creator %>
      <input type="text" value="<%=@work.creator%>" name="work[creator]" class="form-control">
    </div>
    
    <div class="form-group">
      <%= f.label :published_year %>
      <input type="text" value="<%=@work.published_year%>" name="work[published_year]" class="form-control">
    </div>
    
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <input type="submit" value="Create Work" class="btn btn-primary">
    </div>

  <% end %>
</section>