<% if @work.errors.any? %>
  <h1>Errors</h1>
  <ul class="errors">
    <% @work.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>


<p>Please provide the following information to <%="#{action_name}"%> the piece of media in our database: </p>

<%= form_with model: @work, class: "#{action_name}-work" do |f| %>
  <%= f.label :category %> 
  <%= f.select :category, options_for_select(["book", "album"]) %> <br>

  <%= f.label :title %> 
  <%= f.text_field :title %> <br>

  <%= f.label :creator %> 
  <%= f.text_field :creator %> <br>

  <%= f.label :publication_year %> 
  <%= f.text_field :publication_year %> <br>

  <%= f.label :description %>
  <%= f.text_area :description %> <br>

  <%= f.submit "#{action_name.capitalize} Work", class: "work-button" %>
<% end %>