  <% if @work.errors.any? %>
    <section class="alert alert-danger">
      <h1>Errors</h1>
      <ul>
        <% @work.errors.each do |column, message| %>
          <li>
            <strong><%= column.capitalize %></strong> <%= message %>
          </li>
        <% end %>
      </ul>
      </section>
  <% end %>


<h2> <%= verb %> a work </h2>

<%= form_with model: @work, class: "form-group" do |f| %>

  <%= f.label :category %>
  <%= f.select :category, ['album', 'book'], class: "form-control" %>
  <br>

  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control"%>

  <%= f.label :creator %>
  <%= f.text_field :creator, class: "form-control"%>

  <%= f.label :publication_year %>
  <%= f.number_field :publication_year, class: "form-control"%>

  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %>
  
  <br>

  <%= f.submit "#{verb} work", class: "btn btn-primary" %>

  <%# <div class="">
    <label for="category">Category</label>
    <select class="form-control" id="category">
      <option>album</option>
      <option>book</option>
    </select>
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input type="title" class="form-control" id="title">
  </div>

  <div class="form-group">
    <label for="creator">Creator</label>
    <input type="creator" class="form-control" id="creator">
  </div>

  <div class="form-group">
    <label for="publication_year">Publication year</label>
    <input type="publication_year" class="form-control" id="publication_year">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description"></textarea>
  </div> %>

  <%# <button type="submit" class="btn btn-primary"> <%= verb %> 
<% end %>