  <% if @work.errors.any? %>
    <section class="alert alert-danger">
      <h1>Errors</h1>
      <ul>
        <% @work.errors.each do |column, message| %>
          <li>
            <strong><%= column.capitalize %></strong> <%= message %>
          </li>
        <% end %>
      </ul>
      </section>
  <% end %>

<h2> <%= form_title %> </h2>

<%= form_with model: @work, class: "work-input" do |f| %>
  <%= f.label :category %>
  <%= f.text_field :category %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :creator %>
  <%= f.text_field :creator %>

  <%= f.label :publication %>
  <%= f.number_field :publication %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%# <%= f.label :read %>
  <%# <%= f.check_box :read %>

  <%= f.submit "#{action_name} Work", class: "book-button" %>

<% end %>