<section>
<% if @work.errors.any? %>
  <ul class="errors">
    <% @work.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

  <%= form_with model: @work do |f| %>
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="WtCTcg1cIj4qFugHxyQjwho2BJ5aSddDG6BWjUO0q25HCgS7ErsPk/pQs2wb6WpD64DNQKfA2sCiM6HvnV9Uow==">
    <div class="form-group">
    <%= f.label :category %>
    <% categories = ["album", "book", "movie"] %>
    <%= f.select :category, categories, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :creator %>
      <%= f.text_field :creator, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :publication_year %>
      <%= f.text_field :publication_year, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description%>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.submit "Create Work", class: "btn btn-primary" %>
    </div>
  <% end %>
</section>