<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>

<ul>
  <% @works.each do |work| %>
  <li> Title: <%= work.title %> </li>

  <ul>
    <li> Category: <%= work.category %> </li>
    <li> Created by: <%= work.creator %> </li>
    <li> Publication Year: <%= work.publication_year %> </li>
    <li> Description: <%= work.description %> </li>
  </ul>
  <% end %>
</ul>



