<main>
  <h1> List of Works</h1>
  

  <section>
  <% current_user = User.find_by(id: session[:user_id])%>

    <% Work.categories.each do |category| %>
    <h4> All <%= category.capitalize %>s </h4>
      <table class="table table-hover">
      <thead>
        <tr class='table-header'>
          <th scope="col">POINTS</th>          
          <th scope="col">UPVOTE</th>
          <th scope="col">DOWNVOTE</th>
          <th scope="col">CATEGORY</th>
          <th scope="col">TITLE</th>
          <th scope="col">CREATOR</th>
          <th scope="col">PUBLISHED</th>
        </tr>
      </thead>
        <% all_works_by_vote = Work.all_by_votes(category: category) %>

        <% all_works_by_vote.each do |work| %>
          <% points = work.vote_count %>
          <% category = work.category %>
          <% creator = work.creator %>
          <% publication_year = work.publication_year %>

          <tr>
            <td><%= points %></td>
            <section class="voting-sect">
              <% if current_user.nil? %>
                <% vote = [] %>
              <% else %>
                <% vote = Vote.find_vote(user_id: current_user.id, work_id: work.id) %>
              <% end %>

              <% if vote.blank? %>
                  <td class="vote-active upvote">
                    <%= link_upvote(work.id) %>
                    <span class="badge"> <%= work.upvote_count %> </span>
                  </td>
                                    
                  <td class="vote-active downvote">
                    <%= link_downvote(work.id) %>
                    <span class="badge"> <%= work.downvote_count %> </span>
                  </td>   
              
              <% elsif vote.vote_type == "upvote" %>
                <td class="alreadyvote upvote"> 
                  <%= link_delete_upvote(vote.id) %>
                  <span class="badge"> <%= work.upvote_count %> </span>
                </td>
                
                <td class="vote-disabled downvote">
                    <%= link_change_downvote(vote) %>
                    <span class="badge"> <%= work.downvote_count %> </span>
                </td>
              
              <% elsif vote.vote_type == "downvote" %> 
                <td class="vote-disabled upvote">
                    <%= link_change_upvote(vote) %>
                    <span class="badge"> <%= work.upvote_count %> </span> 
                </td>

                <td class="alreadyvote downvote">
                  <%= link_delete_downvote(vote.id) %>
                  <span class="badge"> <%= work.downvote_count %> </span>
                </td>         

              <% end %>
            </section>

            <td><%= category %></td>
            <td><%= link_work(work.id) %></td>
            <td><%= creator %></td>
            <td><%= publication_year %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
    <% end %>
  </section>
</main>

