<main>
  <h1> List of All Works</h1>

  <section>
    <table>
      <tr class='table-header'>
        <td>UPVOTE</td>
        <td>DOWNVOTE</td>
        <td>VOTES</td>
        <td>CATEGORY</td>
        <td>TITLE</td>
        <td>CREATOR</td>
        <td>PUBLISHED</td>
        <td>EDIT</td>
        <td>DELETE</td>
      </tr>
      <% Work.all.each do |work| %>
          <tr>
            <td><%= link_to "Upvote", work_upvote_path(work.id), method: :post, class: "vote-link" %></td>
            <td><%= link_to "Downvote", work_downvote_path(work.id), method: :post, class: "vote-link" %></td>            
            <td><%= work.vote_count %></td>
            <td><%= work.category %></td>
            <td><%= link_to work.title, work_path(work.id) %></td>
            <td><%= work.creator %></td>
            <td><%= work.publication_year %></td>
            <td><%= link_to "Edit", edit_work_path(work.id), class: "edit-link" %></td>
            <td><%= link_to "Delete", work_path(work.id), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-link" %></td>
          </tr>
      <% end %>
    </table>
  </section>
</main>