<main>
  <h2>List of Works</h2>
  <section class="media-table">
    <h4>Albums</h4>
    <table class="table">
      <thead>
        <tr>
          <th width="80">Votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th width="100">Published</th>
          <th width="100">Upvote</th>
        </tr>
      </thead>
    </table>
    <% @works.each do |work| %>
      <% if work.category == 'album'%>
        <ul>
          <li>
            <%= link_to work.title, work_path(work.id) %>
          </li>
          <li>
            <%= work.creator %>
          </li>
          <li>
            <%= work.publication_year %>
          </li>
          <li>
            <%# button Upvote, vote_path(work.id) %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </section>
  <section class="media-table">
    <h4>Books</h4>
    <ul>
      <li><strong>Votes</strong></li>
      <li><strong>Title</strong></li>
      <li><strong>Created By</strong></li>
      <li><strong>Published</strong></li>
      <li><strong>Upvote</strong></li>
    </ul>
    <% @works.each do |work| %>
      <% if work.category == 'book'%>
        <ul>
          <li>
            <%= link_to work.title, work_path(work.id) %>
          </li>
          <li>
            <%= work.creator %>
          </li>
          <li>
            <%= work.publication_year %>
          </li>
          <li>
            <%# button Upvote, vote_path(work.id) %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </section>
  <section class="media-table">
    <h4>Movies</h4>
    <ul>
      <li><strong>Votes</strong></li>
      <li><strong>Title</strong></li>
      <li><strong>Created By</strong></li>
      <li><strong>Published</strong></li>
      <li><strong>Upvote</strong></li>
    </ul>
    <% @works.each do |work| %>
      <% if work.category == 'movie'%>
        <ul>
          <li>
            <%= link_to work.title, work_path(work.id) %>
          </li>
          <li>
            <%= work.creator %>
          </li>
          <li>
            <%= work.publication_year %>
          </li>
          <li>
            <%# button Upvote, vote_path(work.id) %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </section>
</main>
