<h1>All Works</h1>

<table class="table">
  <h2>Books</h2>
    <tr>
      <th scope="col">Votes</th>
      <th scope="col">Title</th>
      <th scope="col">Created By</th>
      <th scope="col">Published</th>
      <th scope="col">Upvote</th>
    </tr>
   
     <% @all_books.each do |book|%>
      <tr>  
      <td>work.vote</td>
      <td><%=book.title%></td>
      <td><%=book.creator%></td>
      <td><%=book.publication_year%></td>
      <td>book.upvote</td>
      </tr>
    <%end%>
</table>

<table class="table">
  <h2>Movies</h2>
    <tr>
      <th scope="col">Votes</th>
      <th scope="col">Title</th>
      <th scope="col">Created By</th>
      <th scope="col">Published</th>
      <th scope="col">Upvote</th>
    </tr>

     <% @all_movies.each do |movie|%>
      <tr>  
        <td>movie.vote</td>
        <td><%=movie.title%></td>
        <td><%=movie.creator%></td>
        <td><%=movie.publication_year%></td>
        <td>movie.upvote</td>
      </tr>
    <%end%>
</table>

<table class="table">
<h2>Albums</h2>
  <tr>
    <th scope="col">Votes</th>
    <th scope="col">Title</th>
    <th scope="col">Created By</th>
    <th scope="col">Published</th>
    <th scope="col">Upvote</th>
  </tr>

  <% @all_albums.each do |album|%>
    <tr>  
      <td>album.vote</td>
      <td><%=album.title%></td>
      <td><%=album.creator%></td>
      <td><%=album.publication_year%></td>
      <td>album.upvote</td>
    </tr>
  <%end%>  
</table>


