<h2>List of Works</h2>

<h4>Movies</h4>
<table class="table">
  <% @movies.each do |movie| %>
    <%= link_to movie.title, work_path(work.id), method: :get%>
    <%= movie.creator %>
    <%= movie.publication_year %>
  <% end %>
  No movies in seed
</table>

<h4>Albums</h4>
<table class="table">
  <% @albums.each do |album| %>
    <%# <%= link_to album.title, work_path(work.id), method: :get%>
    <%= album.title%>
    <%= album.creator %>
    <%= album.publication_year %>
    <br>
  <% end %>
</table>

<h4>Books</h4>
<table class="table">
  <% @books.each do |book| %>
    <%# <%= link_to album.title, work_path(work.id), method: :get%>
    <%= book.title%>
    <%= book.creator %>
    <%= book.publication_year %>
    <br>
  <% end %>
</table>