<h1>List of Works</h1>

<section>
<h2>Albums</h2>
  <table class="table">
    <thead>
    <%works = @works.where(category: "album")%>
      <tr>
        <th scope="col" width="80">Votes</th>
        <th scope="col">Title</th>
        <th scope="col">Created By</th>
        <th scope="col" width="100">Published</th>
        <th scope="col" width="100">Upvote</th>
      </tr>
    </thead>
    <tbody>
      <%works.each_with_index do |work, i|%>
        <tr>
          <th scope="row"><%=i%></th>
          <td><%=link_to work.title, work_path(work.id)%></td>
          <td><%=work.creator%></td>
          <td><%=work.publication_year%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>
<section>
<h2>Books</h2>
  <table class="table">
    <thead>
    <%works = @works.where(category: "book")%>
      <tr>
        <th scope="col" width="80">Votes</th>
        <th scope="col">Title</th>
        <th scope="col">Created By</th>
        <th scope="col" width="100">Published</th>
        <th scope="col" width="100">Upvote</th>
      </tr>
    </thead>
    <tbody>
      <%works.each_with_index do |work, i|%>
        <tr>
          <th scope="row"><%=i%></th>
          <td><%=link_to work.title, work_path(work.id)%></td>
          <td><%=work.creator%></td>
          <td><%=work.publication_year%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>

<section>
<h2>Movies</h2>
  <table class="table">
    <thead>
    <%works = @works.where(category: "movie")%>
      <tr>
        <th scope="col" width="80">Votes</th>
        <th scope="col">Title</th>
        <th scope="col">Created By</th>
        <th scope="col" width="100">Published</th>
        <th scope="col" width="100">Upvote</th>
      </tr>
    </thead>
    <tbody>
      <%works.each_with_index do |work, i|%>
        <tr>
          <th scope="row"><%=i%></th>
          <td><%=link_to work.title, work_path(work.id)%></td>
          <td><%=work.creator%></td>
          <td><%=work.publication_year%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>