<h1>UPVOTE BUTTON CHECKS IF U LOGGED IN FIRST!!!</h1>

<main>
<h2>List of Works</h2>
  <section class="media-table">
    <h4>Albums</h4>
    <table class="table">
      <thead>
      <tr>
        <th width="80">Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width="100">Published</th>
        <th width="100">Upvote</th>
      </tr>
      </thead>

      <tbody>
        <tr>
          <td>#votes</td>
          <td>title PLUS link</td>
          <td>data here</td>
          <td>data here</td>
          <td>
            <a class="btn btn-primary" rel="nofollow" data-method="post" href="/">UPVOTE BUTTON</a></td>
        </tr>

      </tbody>
    </table>
  </section>



  <a class="btn btn-secondary" href="/">View top media</a>
  <a class="btn btn-primary" href="/works/new">Add a new work</a>
</main>


<hr>
ALBUMS<br>
<% if @albums %>
  <%= @albums.each do |movie|%>
    <%= album.votes %>
    <%= album.title %>
    <%= album.creator %>
    <%= album.published_year %>
    <%= link_to "FIX UPVOTE BUTTON", root_path %>
  <% end %>
<% else %>
  NO ALBUMS
<% end %>


<hr>
BOOKS<br>
<% if @books %>
  <%= @books.each do |movie|%>
    <%= book.votes %>
    <%= book.title %>
    <%= book.creator %>
    <%= book.published_year %>
    <%= link_to "FIX UPVOTE BUTTON", root_path %>
  <% end %>
<% else %>
  NO BOOKS
<% end %>


<hr>
MOVIES<br>
<% if @movies %>
  <% @movies.all.each do |movie|%>
    <%= movie.votes_earned %>
    <%= movie.title %>
    <%= movie.creator %>
    <%= movie.published_year %>
    <%= link_to "FIX UPVOTE BUTTON", root_path %>
  <% end %>
<% else %>
  NO MOVIES
<% end %>