<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>

<h2>All Albums</h2>
<ul>
  <% @all_albums.each do |work| %>
  <li> Title: <%= link_to work.title, work_path(work.id) %> </li>

  <ul>
    <li> Category: <%= work.category %> </li>
    <li> Created by: <%= work.creator %> </li>
    <li> Publication Year: <%= work.publication_year %> </li>
    <li> Description: <%= work.description %> </li>
  </ul>
  <% end %>
</ul>

<h2>All Books</h2>
<ul>
  <% @all_books.each do |work| %>
  <li> Title: <%= link_to work.title, work_path(work.id) %> </li>

  <ul>
    <li> Category: <%= work.category %> </li>
    <li> Created by: <%= work.creator %> </li>
    <li> Publication Year: <%= work.publication_year %> </li>
    <li> Description: <%= work.description %> </li>
  </ul>
  <% end %>
</ul>

<h2>All Movies</h2>
<ul>
  <% @all_movies.each do |work| %>
  <li> Title: <%= link_to work.title, work_path(work.id) %> </li>

  <ul>
    <li> Category: <%= work.category %> </li>
    <li> Created by: <%= work.creator %> </li>
    <li> Publication Year: <%= work.publication_year %> </li>
    <li> Description: <%= work.description %> </li>
  </ul>
  <% end %>
</ul>



