<h1> All Media </h1>
<%= link_to 'Add New', new_work_path %>

<h2> Books: </h2>
<ul>
<% @works.where(category: "book").each do |book| %>
<li> <%= link_to book.title, work_path(book) %>
by
<%= book.creator %>
:
<span class="badge badge-pill badge-info"><%=book.votes.length%>
<% if book.votes.length == 1 %>Vote</span>
<% else %>Votes</span>
<%end%>
<%= button_to 'Upvote', upvote_path(book.id) %>
</li>
<% end %>
</ul>

<h2> Music Albums: </h2>
<ul>
<% @works.where(category: "album").each do |album| %>
<li> <%= link_to album.title, work_path(album) %>
by
<%= album.creator %>
:
<span class="badge badge-pill badge-info"><%=album.votes.length%>
<% if album.votes.length == 1 %>Vote</span>
<% else %>Votes</span>
<%end%>
<%= button_to 'Upvote', upvote_path(album.id) %>
</li>
<% end %>
</ul>

<h2> Movies: </h2>
<ul>
<% @works.where(category: "movie").each do |movie| %>
<li> <%= link_to movie.title, work_path(movie) %>
by
<%= movie.creator %>
:
<span class="badge badge-pill badge-info"><%=movie.votes.length%>
<% if movie.votes.length == 1 %>Vote</span>
<% else %>Votes</span>
<%end%>
<%= button_to 'Upvote', upvote_path(movie.id) %>
</li>
<% end %>
</ul>
<br>
<%= link_to 'Home', root_path %>