<h2> List of albums </h2>

<h3> Albums </h3>
<table>
  <tr>
    <th> Votes </th>
    <th> Title </th>
    <th> Created By </th>
    <th> Published </th>
    <th> Upvote </th>
  </tr>

  <tr>
    <% @albums.each do |album| %>
      <td> <%= rand(1..100) %> </td>
      <td> <%= link_to album.title, album_path(album) %> </td>
      <td> <%= album.creator %> </td>
      <td> <%= album.publication_year %> </td>
      <td> <%= placeholder %> <td>
    <% end %>
  </tr>
</table>

<h3> Books </h3>
<table>
  <tr>
    <th> Votes </th>
    <th> Title </th>
    <th> Created By </th>
    <th> Published </th>
    <th> Upvote </th>
  </tr>

  <tr>
    <% @books.each do |book| %>
      <td> <%= rand(1..100) %> </td>
      <td> <%= link_to book.title, book_path(book) %> </td>
      <td> <%= book.creator %> </td>
      <td> <%= book.publication_year %> </td>
      <td> <%= placeholder %> <td>
    <% end %>
  </tr>
</table>