<main>
<h2 id="green_text">List of Works</h2>
  <section class="media-table">
    <h4>Albums</h4>
    <table class="table">
      <thead>
      <tr>
        <th width="80">Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width="100">Published</th>
        <th width="100">Upvote</th>
      </tr>
      </thead>

      <tbody>
      <% if @all_albums%>
        <% @all_albums.each do |piece|%>
        <tr>
          <td><%= piece.votes.count %></td>
          <td id="green_text"><%= link_to piece.title, work_path(id: piece.id) %></td>
          <td><%= piece.creator %></td>
          <td><%= piece.published_year %></td>
          <td><button id="upvote" class="btn btn-primary"><%= link_to "Upvote", work_create_vote_path(work_id: piece.id), method: :post %><% session[:origin_prefix] = "works" %></button></td>
        </tr>
        <% end %>
      <% end %>
      </tbody>

    </table>

    <h4>Books</h4>
    <table class="table">
      <thead>
      <tr>
        <th width="80">Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width="100">Published</th>
        <th width="100">Upvote</th>
      </tr>
      </thead>

      <tbody>
        <% if @all_books %>
          <% @all_books.each do |piece|%>
          <tr>
            <td><%= piece.votes.count %></td>
            <td><%= link_to piece.title, work_path(id: piece.id) %></td>
            <td><%= piece.creator %></td>
            <td><%= piece.published_year %></td>
            <td><button id="upvote" class="btn btn-primary"><%= link_to "Upvote", work_create_vote_path(work_id: piece.id), method: :post %><% session[:origin_prefix] = "works" %></button></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>

    </table>

    <h4>Movies</h4>
    <table class="table">
      <thead>
      <tr>
        <th width="80">Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width="100">Published</th>
        <th width="100">Upvote</th>
      </tr>
      </thead>

      <tbody>
      <% if @all_movies %>
        <% @all_movies.each do |piece|%>
        <tr>
          <td><%= piece.votes.count %></td>
          <td><%= link_to piece.title, work_path(id: piece.id) %></td>
          <td><%= piece.creator %></td>
          <td><%= piece.published_year %></td>
          <td><button id="upvote" class="btn btn-primary"><%= link_to "Upvote", work_create_vote_path(work_id: piece.id), method: :post %><% session[:origin_prefix] = "works" %></button></td>
        </tr>
        <% end %>
      <% end %>
      </tbody>

    </table>
  </section>



  <a class="btn btn-secondary" href="/">View top media</a>
  <a class="btn btn-primary" href="/works/new">Add a new work</a>
</main>

