<section id= "spotlight">
<h2>Media Spotlight: </h2>
<h3><%=link_to @spotlight.name, work_path(@spotlight.id)%></section></h3> <h4> by <%=@spotlight.creator%>
<p> <%= Vote.where(id: @spotlight.id).count%> votes <%= @spotlight.description%></p>



<section id="albums">
<h2> Top Albums </h2>
<% @top_albums.each do |work|%>
  <%= link_to work.name, work_path(work.id) %>
  <%= work.category%>
  <%= Vote.where(id: work.id).count  %> votes
<% end %>
</section>

<section id="books">
<h2> Top Books </h2>
<% @top_books.each do |work|%>
  <%= link_to work.name, work_path(work.id) %>
  <%= work.category%>
  <%= Vote.where(id: work.id).count %> votes
<% end %>
</section>

<section id="movies">
<h2> Top Movies </h2>
<% @top_movies.each do |work|%>
  <%= link_to work.name, work_path(work.id) %>
  <%= work.category%>
  <%= Vote.where(id: work.id).count  %> votes
<% end %>
</section>