<main>
  <section class="spotlight">
    <h2>Media Spotlight: 
      <%= link_to @spotlight.title, work_path(@spotlight.id) %>
      by <%= @spotlight.creator %>
    </h2>
    <p class="spotlight-description">
      <%= @spotlight.description %>
    </p>
  </section>
  <section>
    <section>
      <%= render 'works/top', works: @top_movies, name: "Movies" %>
    </section>
    <section>
      <%= render 'works/top', works: @top_books, name: "Books" %>
    </section>
    <section>
      <%= render 'works/top', works: @top_albums, name: "Albums" %>
    </section>
  </section>
</main>
