<h1> Add a new work </h1>

<%= form_with model: @work do |f|%>
  <fieldset>
    <%= f.label :category %>
    <%= f.text_field :category %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :creator %>
    <%= f.text_field :creator %>

    <%= f.label :publication_year %>
    <%= f.text_field :publication_year %>

    <%= f.label :description%>
    <%= f.text_area rows = "2" %>

    <%= f.submit "Create Work" %>
  </fieldset>
<% end %>
