<section>
<h2><%= @work.title %></h2>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication %> </p>
<p><%= @work.description%></p>
</section>

<section>
    <a class="btn btn-primary" href="/">Back to media ranks</a>
    <a class="btn btn-primary" href="/works/<%= @work.id %>/edit">Edit</a>
    <a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/<%= @work.id %>/upvote">Upvote</a>
    <a class="btn btn-danger" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/works/<%= @work.id %>">Delete</a>
  </section>