<h2><%= @work.title%> </h2>
<p>Created by: <%=@work.creator%></p>
<p>Published: <%=@work.publication_year%></p>
<%# back to media ranks link use homepage%> 
<%= link_to "Edit", edit_work_path, class: "btn btn-primary" %>
<%# add upvote button%>
<%# add delete button%>

<section class="works-votes__container">
<h3 class="works-votes__header"> <%=@work.votes.length%> Votes for this <%=@work.category%></h3>
<table class="table">
  <tr>
    <th>User</th>
    <th>Date</th>
   
  </tr>

   <% @work.votes.each do |vote| %>
  <tr>
    <td> <%=vote.user.username %></td>
    <td><%=vote.created_at%></td>
  </tr>
  <% end %>
</table>
<section>








