<h2> Details for <%= @work.title %> </h2>
<p>Creator: <%= @work.creator %></p>
<p>Release Date: <%= @work.release_date %></p>
<p>Description: <%= @work.description %></p>
<p>Number of votes: <%= @work.votes %></p>

<%= link_to 'Back to All Media Works', works_path %>