
<h1>SHOW PAGE</h1>
<%= @work.category%><br>
<%= @work.title %><br>

<%= @work.creator %><br>
<%= @work.published_year%><br>
<%= @work.description %><br>
<%= @work.votes_earned %><br>
<%= @work.votes.class %><br>

