<%# find me at http://localhost:3000/works/2 %>

<h1><%= @work.title %></h1>
<p>Created By: <%= @work.creator %></p>
<p>Published: <%= @work.publication_date %></p>

<p><%= @work.description%></p>

<p><%= link_to "Return to work List", works_path %></p>

<%# add functionality for adding works, 
add buttons for edit, upvote, delete
add in tally of total votes per medium
table of user and date of who/when was voted %>