<h2>Work Title: <%= @work.title %></h2>

<% votes = @work.votes %>

<p>Category: <%= @work.category %> <br/>
Creator: <%= @work.creator %> </p>
<p>Publication Year: <%= @work.publication_year %> </p>
<p>Description: <%= @work.description %> </p>


<h3>Votes for <%= @work.title %></h3>
<% votes.each do |vote|  %>
  <li><%= vote.work.title %>, <%= vote.user.username %>, <%= vote.created_at %></li>
<% end %>


<%= link_to "Upvote", upvote_path(@work), method: :post %>
<%= link_to "Edit", edit_work_path(@work)%>
<%= link_to "Delete", work_path(@work), method: :delete, data: { confirm: "Are you sure you want to delete this piece of media?" } %>

