<h2> <%= @work.title %> </h2>
<p> Created by: <%= @work.creator %> </h3>
<p> Published: <%= @work.publication_year %> </p>


<%= link_to "Back to media ranks", root_path, class: "btn btn-primary" %>
<%= link_to "Edit", edit_work_path(@work), class: "btn btn-primary" %>
<%= link_to "Upvote", works_path(@work), class: "btn btn-primary", method: :post %>
<%= link_to "Delete", works_path(@work), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>

<br>
<br>

<h3 id="work_votes_list"> <%= @work.votes.count %> Votes for this <%= @work.category.capitalize %> </h3>
<table class='table'>
  <tr>
    <th> User </th>
    <th> Date </th>
  </tr>

  <% @work.votes.each do |vote| %>
    <tr>
      <td> <%= User.find(vote.user_id).name %> </td>
      <td> <%= vote.created_at %> </td>
    </tr>
  <% end %>
</table>