<h1>Works#show</h1>
<p>Find me in app/views/works/show.html.erb</p>

<%= render partial: "homepages/nav" %>

<h2><%= @work.title %></h2>

<p>Category: <%= @work.category %></p>
<p>Created by: <%= @work.creator %></p>
<p>Publication Year: <%= @work.publication_year %></p>
<p>Description: <%= @work.description %></p>

<%= link_to "Edit", edit_work_path(@work) %> 
<%= link_to "Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>