<section>
  <h1><%=@work.title%></h1>
  <p> <%=@work.creator%> </p>
  <p> <%=@work.publication_year%> </p>
  <p><%=@work.description%></p>

  <section>
    <%= link_to "Back to media ranks", works_path, class:"btn btn-primary"%>
    <%= link_to "Edit", edit_work_path(@work.id), class:"btn btn-primary"%>
    <%= link_to "Upvote", vote_path(@work.id), method: :patch, class:"btn btn-primary"%>
    <%= link_to "(Delete)", work_path( @work.id ), method: :delete, data: { confirm: "Are you sure you want to delete #{@work.title}?" }, class:"btn btn-danger"%>
  </section>
</section>

<% if false %>
<section class="works-votes__container">
  <h3 class="works-votes__header">Votes (needs votes.count) for this <%=@work.category%></h3>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @votes.each do |vote| %>
        <tr>
          <td> link to a user who voted   </td>
          <td> date that the user voted  </td>
        </tr>
      <% end %>
    </table>
</section>
<% end %>