<section>
  <h2>
  <%= @work.title %>
  </h2>
  <p>
  Created by: 
  <%= @work.creator %> 
  </p>
  <p>Published: 
  <%= @work.publication_year %>
  </p>
  <p>
  <%= @work.description %>
  </p>
  <section>
    <%= link_to "Back to media ranks", root_path, class: "btn btn-primary" %>
    <%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary" %>
    <%= link_to "Upvote", edit_work_path(@work.id), class: "btn btn-primary" %>
    <%= link_to "Delete", work_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>

  </section>
</section>

<section class="works-votes__container">
  <h3 class="works-votes__header">1 Votes for this Book</h3>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/users/266">dee</a></td>
        <td>Oct 16, 2019</td>      
      </tr>
    </tr>
    </tbody>
  </table>
</section>