<main>
  <section>
    <h2><%= @work.title %></h2>
    <p>Created by: <%= @work.creator %></p>
    <p>Published: <%= @work.publication_year %></p>
    <p><%= @work.description %></p>
    <section>
      <%= link_to "Back to media ranks", root_path, class: "btn btn-primary"%>
      <%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary"%>
      <%= link_to "Upvote", work_votes_path(@work.id), method: :post, class: "btn btn-primary" %>
      <%= link_to "Delete", work_path(@work.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"%>
    </section>
  </section>

  <section class="works-votes__container">
    <h3 class="works-votes__header"> 
      <%= @work.votes.count %> Votes for this <%= @work.category.capitalize %>
    </h3>
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @work.votes.order(created_at: :desc).each do |vote| %>
          <tr>
            <% voter = vote.user %>
            <td><%= link_to voter.username, user_path(voter.id) %></td>
            <td><%= format_date(vote.created_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</main>
