<h2> <%= @work.title %> </h2>
<section>
<p>Created by: <%= @work.creator %><p>
<p>Published: <%= @work.publication_year %></p>
<p>Description: <%= @work.description %></p>
<p><button type="button" class="btn btn-primary"><%= link_to "Back to Media Ranks", root_path %></button>
<button type="button" class="btn btn-primary"><%= link_to "Edit", edit_work_path %></button>
<button type="button" class="btn btn-primary"><%= link_to "Upvote"%></button>
<button type="button", votes_create_path, method: post, class="btn btn-primary-delete">Delete</button></p>
</section>



<section>
User
Date
</section>

