<h1><%= @work.title %></h1>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>

<%= link_to "Back to media ranks", works_path, class: "btn btn-primary" %>
<%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary" %>
<%= link_to "Upvote", class: "btn btn-primary", class: "btn btn-primary" %>
<%= link_to "Delete", work_path(@work.id), method: :delete, class: "btn btn-primary" %>

<h2>Votes for this <%= @work.category.capitalize %></h2>
