<main>
  <h1> List of Users</h1>

  <section>
    <table class="table table-hover">
      <thead>
        <tr class='table-header'>
          <th scope="col">USERNAME</th>
          <th scope="col">USER SINCE</th>
          <th scope="col"># VOTES</th>
          <th scope="col">EDIT</th>
          <th scope="col">DELETE</th>
        </tr>
      </thead>

      <% User.all.order(:username).each do |user| %>
          <tr>
            <td><%= link_to user.username, user_path(user.id) %></td>
            <td><%= user.created_at %></td>
            <td><%= user.votes.count %></td>
            <td><%= link_to "Edit", edit_user_path(user.id), class: "edit-link" %></td>
            <td><%= link_to "Delete", user_path(user.id), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-link" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </section>
</main>