<main>
  <h1> List of All Users</h1>

  <section>
    <table>
      <tr class='table-header'>
        <td>USERNAME</td>
        <td>USER SINCE</td>
        <td># VOTES</td>
        <td>EDIT</td>
        <td>DELETE</td>
      </tr>
      <% User.all.order(:username).each do |user| %>
          <tr>
            <td><%= link_to user.username, user_path(user.id) %></td>
            <td><%= user.created_at %></td>
            <td><%= user.votes.count %></td>
            <td><%= link_to "Edit", edit_user_path(user.id), class: "edit-link" %></td>
            <td><%= link_to "Delete", user_path(user.id), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-link" %></td>
          </tr>
      <% end %>
    </table>
  </section>
</main>