<h3>You are logged in as <%= User.find_by(id: session[:user_id]).username %></h3>

<p>Here is your voting history:
<ul>
<% Vote.where(id: session[:user_id]).each do |vote| %>
<li>Title: <%=vote.work.title%>; Creator: <%=vote.work.creator%>; Release Date: <%=vote.work.release_date%>; Category: <%=vote.work.category%>; Vote Date: <%=vote.date%></li><% %>
</ul>
<%end%>
</p>

<%= link_to 'Log Out', logout_path, method: :post %>