


<%= form_with model: @user, url: login_path do |f| %>
  <%= f.label :Username %>
  <%= f.text_field :username %>
<br>
  <%= f.submit "Log In"%>

<% end %>

<body>
  <section class="flash">
    <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
    <% end %>
  </section>

  <%= yield %>
</body>