<section>
  <h1> User Summary: <%= @user.name %> </h1>
  <h2> Joined site <%= @user.joined_date.strftime('%b %d, %Y') %> </h2>
</section>


<section>
  <h3> Votes </h3>
  <ul>
  <% @user.votes.each do |vote| %>
    <li>
      <%= link_to vote.work.title, work_path(vote.work_id) %>
      <%= vote.work.creator %>
      <%= vote.work.publication_year %>
      <%= vote.work.category.capitalize %>
      <%= vote.date.strftime('%b %d, %Y') %>
    </li>
  <% end %>
  </ul>
</section>

<section>
  <%= link_to "See all Users", users_path %>
  <%= link_to "See all Works", works_path%>
</section>