<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= render partial: "homepages/nav" %>

<ul>
  <li> Username: <%= link_to @user.name, user_path(@user.id) %> </li>
    <ul>
      <li> Votes: <%= @user.votes.count %> </li>
      <li> Joined on: <%= @user.created_at %> </li>
      <li> Votes: <% @user.votes.each do |vote| %> </li>
      <ul>
        <li> vote.work_id.title </li>
      </ul>
    </ul>
</ul>

<%= link_to "See all Users", users_path %> 
<%= link_to "Back to Media List", root_path %>