<main>
    <h2>User Summary: <a href="/users/<%= User.find_by(id: session[:user_id]).id %>"><%= User.find_by(id: session[:user_id]).name %></a></h2>

<p>Joined site on <%= User.find_by(id: session[:user_id]).created_at.strftime("%b %d, %Y") %></p>

<section class="user-votes__container">
  <h3 class="user-votes__header">Votes</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted On</th>
      </tr>
    </thead>
    <tbody>
         <% User.find_by(id: session[:user_id]).votes.each do |vote| %>
        <tr>
          <td> <a href="/works/<%= vote.work_id %>"><%=Work.find_by(id: vote.work_id).title %> </a></td>
          <td> <%= Work.find_by(id: vote.work_id).creator %></td>
          <td> <%= Work.find_by(id: vote.work_id).publication %></td>
          <td> <%= Work.find_by(id: vote.work_id).category %></td>
          <td> <%= vote.created_at.strftime("%b %d, %Y") %></td>
          <%end%>
        </tr>
    </tbody>
  </table>
</section>

<a class="btn btn-secondary" href="/users">See all Users</a>
<a class="btn btn-primary" href="/">Back to Media List</a>

  </main>