<html>
    <main>
      <section>
        <h2>User Summary: <%= @user.username %></h2>
        <p>Joined site <%= @user.created_at.year %></p>
      </section>

    <section class="works-votes__container">
      <h3 class="users-votes__header">Votes</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Media Title</th>
            <th>Created By</th>
            <th>Published</th>
            <th>Category</th>
            <th>Voted On</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% user_votes = Vote.where(user_id: session[:user_id]) %>
              <% voted_on_works = Work.where(id: user_votes.work_id) %>
              <% voted_on_works.each do |work| %>
              <tr>
                <td>
                  NUM
                </td>
                <td>
                  <%= link_to work.title, work_path(id: work.id) %> 
                </td>
                <td>
                  <%= work.creator %>
                </td>
                <td>
                  <%= work.category %>
                </td>
                <td>
                  <%= link_to "Upvote", work_votes_path(work.id), method: :post, class:"btn btn-primary" %>
                </td>
              <% end %>
          </tr>
        </tbody>
      </table>
    </section>
  <a class="btn btn-secondary" href="/">View top media</a>
  <a class="btn btn-primary" href="/works/new">Add a new work</a>
    </main>
  </body>
</html>