<main>
  <header class="show-header">
    <h1>Summary for <%=@user.username%> </h1>
  </header>
  
  <h5>Joined site <%= readable_date(@user.created_at) %> </h5>

  <% total_votes = @user.votes %>
  <h4> <%= total_votes.count %> vote<%= s_end?(total_votes.count)%> from <%= @user.username%> </h4>
    <section class="likes-dislikes-container">
      <% total_upvotes = @user.upvotes %>
      <% total_downvotes = @user.downvotes %>

      <% if total_votes.count == 0 %>
        <h4> <%= @user.username %> should vote more! </h4>
      <% else %> 
        <% if total_upvotes.count > 0 %>
          <section class="show-likes-sect">
            <h2> <%= total_upvotes.count %> Like<%= s_end?(total_upvotes.count)%> </h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Submited</th>
                  <th>Category</th>
                  <th>Title</th>
                  <th>Creator</th>
                </tr>
              </thead>
              <tbody>
                <% total_upvotes.each do |vote|%>
                  <tr>
                    <td><%= readable_date(vote.created_at) %></td>
                    <td> <%= vote.work.category %> </td>
                    <td><%= link_to vote.work.title, work_path(vote.work_id)%></td>
                    <td> <%= vote.work.creator %> </td>
                  </tr>
                <% end%>
              </tbody>
            </table>
          </section>
        <% end %>

        <% if total_downvotes.count > 0 %>
          <section class="show-dislikes-sect">
            <h2> <%=total_downvotes.count %> Dislike<%= s_end?(total_downvotes.count)%></h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Submited</th>
                  <th>Category</th>
                  <th>Title</th>
                  <th>Creator</th>
                </tr>
              </thead>
              <tbody>
                <% total_downvotes.each do |vote|%>
                  <tr>
                    <td><%= readable_date(vote.created_at) %></td>
                    <td> <%= vote.work.category %> </td>
                    <td><%= link_to vote.work.title, work_path(vote.work_id)%></td>
                    <td> <%= vote.work.creator %> </td>
                  </tr>
                <% end%>
              </tbody>
            </table>
          </section>
        <% end %>
  <% end %>  




</main>
