<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="app-header__header">
    <a href="/">Media Ranker</a>
    <small>| Ranking the Best of Everything</small>

    <nav class="app-header__nav">
    <ul class="nav app-header__site-nav-container">
      <li class="nav-item app-header__nav_item">LINK: View top media</li>
      <li class="nav-item app-header__nav_item"><%= link_to "View all media", works_path%></li>
      <li class="nav-item app-header__nav_item">LINK: Add a new work</li>
      <li class="nav-item app-header__nav_item"><%= link_to "View All Users", users_path %></li>
    </ul>


    <%# LOG IN/OUT BUTTONS HERE %>
    <ul class="nav app-header__user-nav-container">
      <li class="nav-item app-header__nav_item">
        <% if session[:user_id] %>
          <%# <a class="btn btn-primary" href="/users/:id">Logged in in as <%= username_from_session %>
          <button class="btn btn-primary"><%= link_to "Logged in as #{username_from_session}", user_path(id: session[:user_id]) %></button>
          <button class="btn btn-primary"><%= link_to "Log Out", logout_path, method: :patch %></button>
        <% else %>
          <button class="btn btn-primary"><%= link_to "Log In", login_path %></button>
        <% end %>
      </li>
    </ul>
    </nav>
  </header>
  
  <%# FLASH from rails, using Bootstrap ALERT %>
  <section class="alert__container">    
    
    <% if flash[:success] %>
      <div class="alert alert-success">
      <span>
        <%= flash[:success]%>
      </span>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-warning">
      <span>
        <%= flash[:error] %>
      </span>
      </div>
    <% elsif flash[:message] %>
      <div class="alert alert-primary">
      <span>
        <%= flash[:message]%>
      </span>
      </div>
    <% end %>
  </section>

    <%= yield %>
  </body>
</html>
