<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Media Ranker | Ranking the Best of Everything</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
      <%= link_to "View top media", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "View all media", works_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Add a new work",new_work_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "View all users", users_path, class: "nav-link"%>
      </li>
    </ul>
    <%= form_with model:@user, url: login_path,  class: "form-inline my-2 my-lg-0" do |f|%>
      <%= f.text_field :username, class: "form-control mr-sm-2", type: "login", placeholder: "login"%>
      <%= f.submit "Login", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
  </div>
</nav>
  </header>
  <div>
  <section class="flash">
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %>"><%= message %></div>
    <% end %>
  </section>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
