<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="container">
      <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md">
        Media Ranker
        </div>
        <div class="row">
        Ranking the Best of Everything
        </div>
        <div class="col-md">
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          View top media
        </div>
        <div class="col-sm">
          View all media
        </div>
        <div class="col-sm">
          Add a new work
        </div>
        <div class="col-sm">
          View all users
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
    </footer>

  </body>
</html>