<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="app-header__header">
    <h2 id="logo-banner">
    <a href="/">Media Ranker</a>
    | Ranking the Best of Everything</h2>
    

    <nav class="app-header__nav">
    <ul class="nav app-header__site-nav-container">
      <li class="nav-item app-header__nav_item"><%= link_to "View Top Media", root_path%></li>
      <li class="nav-item app-header__nav_item"><%= link_to "View All Media", works_path%></li>
      <li class="nav-item app-header__nav_item"><%= link_to "Add a New Work", new_work_path%></li>
      <li class="nav-item app-header__nav_item"><%= link_to "View All Users", users_path %></li>
    </ul>


    <%# LOG IN/OUT BUTTONS HERE %>
    <ul class="nav app-header__user-nav-container">
      <li class="nav-item app-header__nav_item">
        <% if session[:user_id] %>
          <button class="btn btn-primary"><%= link_to "Logged in as #{username_from_session}", user_path(id: session[:user_id]) %></button>
          <button class="btn btn-primary"><%= link_to "Log Out", logout_path, method: :patch %></button>
        <% else %>
          <button class="btn btn-primary"><%= link_to "Log In", login_path %></button>
        <% end %>
      </li>
    </ul>
    </nav>
  </header>
  
  <%# FLASH from rails, using Bootstrap ALERT %>
  <section class="alert__container">    
    
    <% if flash[:success] %>
      <div class="alert alert-success">
      <span>
        <%= flash[:success]%>
      </span>
      </div>

    <% elsif flash[:error] %>
      <div class="alert alert-warning">

      <span>
        <%= flash[:error] %>
      </span>

      <% if flash[:error_msgs] %>
        <ul>
        <% flash[:error_msgs].each do |msg_str| %>
          <li>
          <%= msg_str %>
          </li>
        <% end %>
        </ul>
      <% end %>
      </div>

    <% elsif flash[:message] %>
      <div class="alert alert-primary">
      <span>
        <%= flash[:message]%>
      </span>
      </div>
    <% end %>

  </section>

    <%= yield %>

  </body>
</html>
