<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if session[:user_id] == nil %>
      <%= link_to "Log in", login_path %>
    <% else %>
      Logged in as: <%= User.find_by(id: session[:user_id]).name %>
      <%= link_to "Log out", logout_path, method: :post %>
    <% end %>

    <section class="flash">
    <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
    <% end %>
    </section>

    <%= yield %>
  </body>
</html>
