<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p><%= link_to "View top media", main_path %></p>
    <p><%= link_to "View all media", works_path %></p>
    <p><%= link_to " Add a new work", new_work_path %></p>
    <%= yield %>
  </body>
</html>
