<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app-header__header">
      <h1>
        <%# <a href="/">Media Ranker</a> %>
        <%= link_to "Media Ranker", root_path, method: :get %>
        <small>Ranking the Best of Everything</small>
      </h1>

      <nav class="app-header__nav">
        <ul class="nav app-header__site-nav-container">
          <li class="nav-item app-header__nav_item">
            <%# <a class="nav-link" href="/">View top media</a> %>
            <%= link_to "View top media", root_path, method: :get %>
          </li>
          <li class="nav-item app-header__nav_item">
            <%# <a class="nav-link" href="/works">View all media</a> %>
            <%= link_to "View all media", works_path, method: :get %>
          </li>
          <li class="nav-item app-header__nav_item">
            <%# <a class="nav-link" href="/works/new">Add a new work</a> %>
            <%= link_to "Add a new work", new_work_path, method: :get %>
          </li>
          <li class="nav-item app-header__nav_item">
            <%# <a class="nav-link" href="/users">View all users</a> %>
            <%= link_to "View all users", users_path, method: :get %>
          </li>
        </ul>
        <ul class="nav app-header__user-nav-container">
          <%# CREATE IF STATEMENT HERE FOR LOGIN/LOGOUT VIEW %>
          <li class="nav-item app-header__nav_item">
            <a class="btn btn-primary" href="/users/422">Logged in as momo</a>
          </li>
          <li class="nav-item app-header__nav_item">
            <a class="btn btn-primary" rel="nofollow" data-method="post" href="/logout">Log Out</a>
          </li>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
