<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Gudea:400,700&display=swap" rel="stylesheet">

  </head>

  <body>
    <nav>
    <h1>
      <%= link_to "Media Ranker", root_path, class: "main-logo-link" %>
      <small id="main-logo-sub">Ranking the Best of Everything</small>
    </h1>
    <ul>
      <li><%= link_to "Top Media", root_path, class: "nav-link" %></li>
      <li><%= link_to "All Media", works_path, class: "nav-link" %></li>
      <li><%= link_to "Add New Media", new_work_path, class: "nav-link" %></li>
      <li><%= link_to "View All Users", users_path, class: "nav-link"  %></li>
      <% if session[:user_id] %>
        <li><%= link_to "Logged in as #{User.username_by_id(session[:user_id])}", current_user_path, class: "nav-link" %></li>      
        <li><%= link_to "Logout", logout_path, method: :post, class: "nav-link", class: "login-link" %></li>
      <% else %>
        <li><%= link_to "Login", login_path, class: "nav-link", class: "login-link" %></li>
      <% end %>
      
      
    </ul>
  </nav>

  <section class="flash">
    <% flash.each do |name, message| %>
      <% if name == "success" %>
        <div class="alert alert-success" role="alert" class="<%= name %>"><%= message %></div>
      <% else %>
        <div class="alert alert-danger" role="alert" class="<%= name %>"><%= message %></div>
      <% end %>
    <% end %>
  </section>


    <%= yield %>
  </body>
</html>
