<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    
    </nav>
    <section class="flash">
    <% flash.each do |name, message| %>
      <h3 class="<%= name %>"><%= message %></h3>
    <% end %>
    <section>

    <%= yield %>
  </body>
</html>
