<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="app-header__header">
    <a href="/">Media Ranker</a>
    <small>| Ranking the Best of Everything</small>

    <nav class="app-header__nav">
    <ul class="nav app-header__site-nav-container">
      <li class="nav-item app-header__nav_item">LINK: View top media</li>
      <li class="nav-item app-header__nav_item"><%= link_to "View all media", works_path%></li>
      <li class="nav-item app-header__nav_item">LINK: Add a new work</li>
      <li class="nav-item app-header__nav_item"><%= link_to "View All Users", users_path %></li>
    </ul>

    <ul class="nav app-header__user-nav-container">
      <li class="nav-item app-header__nav_item">
        <a class="btn btn-primary" href="/users/login">Log In</a>
      </li>
    </ul>
    </nav>
  </header>

    <%= yield %>
  </body>
</html>
