<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app-header__header">
      <h1>
        <strong><a href="/homepages">Media Ranker</a></strong>
        <small>Ranking the Best of Everything</small>
      </h1>

      <nav class="app-header__nav">
        <ul class="nav app-header__site-nav-container">
          <li class="nav-item app-header__nav_item">
            <a class="nav-link" href="/homepages">View top media</a>
          </li>
          <li class="nav-item app-header__nav_item">
            <a class="nav-link" href="/works">View all media</a>
          </li>
          <li class="nav-item app-header__nav_item">
            <a class="nav-link" href="/works/new">Add a new work</a>
          </li>
          <li class="nav-item app-header__nav_item">
            <a class="nav-link" href="/users">View all users</a>
          </li>
        </ul>
        <ul class="nav app-header__user-nav-container">

          <% if session[:user_id] == nil %>
            <li class="nav-item app-header__nav_item"><%= link_to "Log in", login_path, class: "btn btn-primary" %></li>
          <% else %>
            <li class="nav-item app-header__nav_item btn btn-primary">Logged in as: <%= User.find_by(id: session[:user_id]).name %></li>
            <li class="nav-item app-header__nav_item"><%= link_to "Log out", logout_path, method: :post, class: "btn btn-primary" %></li>
          <% end %>

        </ul>
      </nav>
    </header>

    <section class="flash">
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %>"><%= message %></div>
    <% end %>
    </section>

    <%= yield %>
  </body>
</html>