<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  Media Ranker
  Ranking the Best of Everything

  NAV~~
  View top media
  View all media
  Add new work
  View all users
  (far right) Login

  SPOTLIGHT~~
  Media Spotlight: New Work Title by New Creator
  SMOL~~
  0 votes - description

  THREE LISTS~~
  Top Movies
    Movie Title by Movie Creator
    0 votes
  Top Books
  Top Albums

    <%= yield %>
  </body>
</html>
