<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%=link_to "Media Ranker", root_path%>
  <%=link_to "View All Media", works_path%>
  <%=link_to "Add new Work", new_work_path%>

  <section class="flash">
    <% flash.each do |name, message|%>
      <%if flash[:failure]%>
        <div class="alert alert-danger" role="alert"%><%= message %></div>
      <%elsif flash[:success]%>
        <div class="alert alert-success" role="alert"%><%= message %></div>
      <%end%>
    <%end%>
  </section>

  <body>
    <%= yield %>
  </body>
</html>
